/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navbar */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 20px;
  }
  
  /* Style the main content area */
  .main-content {
    display: flex;
  }
  
  /* Style the left section */
  /* .left-section {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
  } */
  
  /* Style the center section */
  .center-section {
    flex: 9;
    padding: 20px;
  }
  
  /* Style the job card */
  .job-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style the job footer */
  .job-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Style the registration button */
  .registration-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style the right section */
  .right-section {
    flex: 2;
    padding: 20px;
    min-height: 450px;
    max-width: 300px;
  }
  
  /* Style the ad space */
  .ad-space {
    background-color: #f1f1f1;
    margin-bottom: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  footer p{
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  